version: "3.7"

services:
  nginx:
    image: ghcr.io/flagbit/shopware/6.4/nginx/production:0.1.1
    platform: linux/amd64
    depends_on:
      - php-fpm
    environment:
      - FASTCGI_BACKEND='php-fpm:9000'
    ports:
      - "8080:8080"
    volumes:
      - ./:/srv/www
    networks:
      - "shopware"

  php-fpm:
    image: ghcr.io/flagbit/shopware/6.4/php-fpm/8.1/development:0.1.3
    user: $USER_ID
    depends_on:
      - mysql
    environment:
      - DATABASE_URL=mysql://app:app@mysql:3306/shopware
      - APP_URL=http://localhost:8080
      - INSTANCE_ID=
      - SHOPWARE_ES_ENABLED=1
      - SHOPWARE_ES_HOSTS=elasticsearch:9200
      - SHOPWARE_ES_INDEXING_ENABLED=1
      - SHOPWARE_ES_INDEX_PREFIX=sw
      - SHOPWARE_ES_THROW_EXCEPTION=0
      - SHOPWARE_CDN_STRATEGY_DEFAULT=id
      - SQL_SET_DEFAULT_SESSION_VARIABLES=0
      - MAILER_URL=smtp://mailhog:1025?encryption=&auth_mode=
      - PUPPETEER_SKIP_DOWNLOAD=true
      - XDEBUG_MODE=${XDEBUG_MODE:-off}
      - PHP_IDE_CONFIG=serverName=localhost
    extra_hosts:
      - host.docker.internal:${CUSTOM_HOST_GATEWAY:-host-gateway}
    volumes:
      - ./:/srv/www
      - "~/.composer/cache:/.composer/cache"
      - "~/.npm:/.npm"
    networks:
      - "shopware"
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  mysql:
    image: docker.io/library/mysql:8.0.25
    platform: linux/amd64
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shopware
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
      - MYSQL_TCP_PORT=3306
    command:
      [
        mysqld,
        --log_bin_trust_function_creators=1,
        --default-authentication-plugin=mysql_native_password,
        "--sql-mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION",
        --group-concat-max-len=32000,
      ]
    ports:
      - "3306:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      interval: 5s
      timeout: 2s
      retries: 3
    networks:
      - "shopware"

  elasticsearch:
    image: docker.io/elastic/elasticsearch:7.17.3
    platform: linux/amd64
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports:
      - "9200:9200"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --silent --fail localhost:9200/_cluster/health || exit 1",
        ]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - "shopware"

  mailhog:
    image: docker.io/mailhog/mailhog:v1.0.0
    platform: linux/amd64
    healthcheck:
      test: curl --fail -s http://localhost:8025/ || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    ports:
      - "8025:8025"
    networks:
      - "shopware"

networks:
  shopware:
